<a href="https://colab.research.google.com/github/tskkeimashi/hotel_recommender/blob/main/hotel_case_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [87]:
import pandas as pd
import numpy as np

hoteldf = pd.read_excel('data_hotel.xlsx', index_col=0)
reviewdf = pd.read_excel('review_hotel.xlsx', index_col=0)

In [88]:
print(hoteldf.head())
print('\n')
print(hoteldf.info())

                                       hotel_name  ... price_per_night
hotel_id                                           ...
h0001     Midtown Residence Marvell City Surabaya  ...   527866.666667
h0002              favehotel Graha Agung Surabaya  ...   442860.000000
h0003                      The Sun Hotel Sidoarjo  ...   305000.000000
h0004                        Grand Surabaya Hotel  ...   324999.333333
h0005                      The WIN Hotel Surabaya  ...   310947.250000

[5 rows x 6 columns]


<class 'pandas.core.frame.DataFrame'>
Index: 1199 entries, h0001 to h1199
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   hotel_name         1199 non-null   object
 1   hotel_description  1098 non-null   object
 2   hotel_province     1199 non-null   object
 3   hotel_city         1199 non-null   object
 4   hotel_address      1199 non-null   object
 5   price_per_night    1193 non-null   float64
dtypes: float64(1), object(5)
memory usage: 65.6+ KB
None

In [89]:
print(hoteldf.isnull().sum())

hotel_name             0
hotel_description    101
hotel_province         0
hotel_city             0
hotel_address          0
price_per_night        6
dtype: int64

In [90]:
print(hoteldf.loc[(hoteldf['hotel_description'].isnull()) | (hoteldf['price_per_night'].isnull())])

                                       hotel_name  ... price_per_night
hotel_id                                           ...
h0001     Midtown Residence Marvell City Surabaya  ...   527866.666667
h0027             ibis budget Surabaya Diponegoro  ...   206232.000000
h0042                       Citra Suites Surabaya  ...   237500.000000
h0048              Novotel Surabaya Hotel & Suite  ...   545522.000000
h0049              Novotel Samator Surabaya Timur  ...   616038.500000
...                                           ...  ...             ...
h0435                   OYO 990 Stadion Residence  ...    85326.500000
h0436                           OYO 552 Raz House  ...   428106.250000
h0437             OYO 711 Salam Residence Syariah  ...             NaN
h0438                OYO 1371 Carofin Guest House  ...   118132.000000
h0439                           Grand Delta Hotel  ...   756250.000000

[101 rows x 6 columns]

In [91]:
hoteldf = hoteldf.loc[(hoteldf['hotel_description'].notnull()) & (hoteldf['price_per_night'].notnull())]
print(len(hoteldf))

1098

In [92]:
print(hoteldf.isnull().sum())

hotel_name           0
hotel_description    0
hotel_province       0
hotel_city           0
hotel_address        0
price_per_night      0
dtype: int64

In [93]:
print(hoteldf['hotel_name'].nunique())
print(hoteldf['hotel_description'].nunique())
print(hoteldf['hotel_province'].nunique())
print(hoteldf['hotel_city'].nunique())
print(hoteldf['hotel_address'].nunique())
print(hoteldf['price_per_night'].nunique())

1098
1016
6
12
1098
893

In [97]:
hoteldf.drop(['hotel_description', 'hotel_address'], axis=1)

                                   hotel_name  ... price_per_night
hotel_id                                       ...
h0002          favehotel Graha Agung Surabaya  ...   442860.000000
h0003                  The Sun Hotel Sidoarjo  ...   305000.000000
h0004                    Grand Surabaya Hotel  ...   324999.333333
h0005                  The WIN Hotel Surabaya  ...   310947.250000
h0006        POP! Hotel Stasiun Kota Surabaya  ...   276333.333333
...                                       ...  ...             ...
h1195                  Restu Hotel Yogyakarta  ...   150000.000000
h1196                   Oryza Hotel Malioboro  ...   180000.000000
h1197             Hotel Asri Graha Yogyakarta  ...   262500.000000
h1198     Tasneem Convention Hotel Yogyakarta  ...   391666.666667
h1199           Pesonna Hotel Tugu Yogyakarta  ...   338074.666667

[1098 rows x 4 columns]

In [98]:
print(hoteldf.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1098 entries, h0002 to h1199
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   hotel_name         1098 non-null   object
 1   hotel_description  1098 non-null   object
 2   hotel_province     1098 non-null   object
 3   hotel_city         1098 non-null   object
 4   hotel_address      1098 non-null   object
 5   price_per_night    1098 non-null   float64
dtypes: float64(1), object(5)
memory usage: 100.0+ KB
None

In [99]:
print(reviewdf.head())

           booking_date hotel_id  ... rating                    review
booking_id                        ...
b0001        19-04-2020    h0014  ...    8.4                Short stay
b0002        06-04-2020    h0014  ...   10.0           Hotelnya nyaman
b0003        24-03-2020    h0014  ...    9.2  Cukup baik untuk transit
b0004        23-03-2020    h0014  ...    9.2                    Nyaman
b0005        14-03-2020    h0014  ...    6.8                  Not good

[5 rows x 8 columns]

In [100]:
print(reviewdf.info())

<class 'pandas.core.frame.DataFrame'>
Index: 4306 entries, b0001 to b4306
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   booking_date   4306 non-null   object
 1   hotel_id       3833 non-null   object
 2   hotel_name     4306 non-null   object
 3   stay_duration  4306 non-null   int64
 4   adults         4306 non-null   int64
 5   children       4306 non-null   int64
 6   rating         4306 non-null   float64
 7   review         4306 non-null   object
dtypes: float64(1), int64(3), object(4)
memory usage: 302.8+ KB
None

In [101]:
reviewdf = reviewdf.drop(['hotel_id', 'booking_date','stay_duration','review'], axis=1)
print(reviewdf.shape)

(4306, 4)

In [107]:
hotelreview = pd.merge(hoteldf, reviewdf, on='hotel_name', how='left')
print(hotelreview.tail())
print(hotelreview.info())

                               hotel_name  ... rating
4496               Restu Hotel Yogyakarta  ...    NaN
4497                Oryza Hotel Malioboro  ...    NaN
4498          Hotel Asri Graha Yogyakarta  ...    NaN
4499  Tasneem Convention Hotel Yogyakarta  ...    NaN
4500        Pesonna Hotel Tugu Yogyakarta  ...    NaN

[5 rows x 9 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4501 entries, 0 to 4500
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   hotel_name         4501 non-null   object
 1   hotel_description  4501 non-null   object
 2   hotel_province     4501 non-null   object
 3   hotel_city         4501 non-null   object
 4   hotel_address      4501 non-null   object
 5   price_per_night    4501 non-null   float64
 6   adults             3807 non-null   float64
 7   children           3807 non-null   float64
 8   rating             3807 non-null   float64
dtypes: float64(4), object(5)
memory usage: 351.6+ KB
None

In [117]:
hotelreview['adults'] = hotelreview['adults'].fillna(hotelreview['adults'].median())
hotelreview['children'] = hotelreview['children'].fillna(hotelreview['children'].median())
hotelreview['rating'] = hotelreview['rating'].fillna(hotelreview['rating'].mean())
print(hotelreview.tail())

                               hotel_name  ... rating
4496               Restu Hotel Yogyakarta  ...    8.0
4497                Oryza Hotel Malioboro  ...    8.0
4498          Hotel Asri Graha Yogyakarta  ...    8.0
4499  Tasneem Convention Hotel Yogyakarta  ...    8.0
4500        Pesonna Hotel Tugu Yogyakarta  ...    8.0

[5 rows x 9 columns]

In [118]:
print(hotelreview['hotel_name'].nunique())

1098

In [136]:
C = hotelreview['rating'].mean()
print(C)

8.375738724727801

In [137]:
def simple_recommender(df, top=50):
  df = df.sort_values(by=['price_per_night','rating'], ascending = False)
  df = df[:top]
  return df

print(simple_recommender(hotelreview, top=10))

                      hotel_name  ... rating
2085  Four Seasons Hotel Jakarta  ...    8.0
2937           Hotel Desa Wisata  ...   10.0
2940           Hotel Desa Wisata  ...    8.4
2941           Hotel Desa Wisata  ...    8.0
2938           Hotel Desa Wisata  ...    6.8
2936           Hotel Desa Wisata  ...    6.0
2939           Hotel Desa Wisata  ...    5.2
1954        Sari Pacific Jakarta  ...    9.6
1952        Sari Pacific Jakarta  ...    9.2
1950        Sari Pacific Jakarta  ...    8.0

[10 rows x 9 columns]

In [144]:
df = hotelreview.copy()

def user_prefer_recommender(df, ask_fam, ask_prov, ask_kota, top=50):
  #ask_fam
  if ask_fam.lower() == 'ya':
    df = df.loc[df['adults'] > 1 & df['children'] > 0]
  else:
    df
  
  #ask_prov
  def filter_prov(x):
    if ask_prov.lower() in str(x).lower():
      return True
    else:
      return False
    df = df.loc[df['hotel_province'].apply(lambda x: filter_prov(x))]
  
  def filter_kota(y):
    if ask_kota.lower() in str(y).lower():
      return True
    else:
      return False
    df = df.loc[df['hotel_city'].apply(lambda y: filter_kota(y))]
  
  df = df.sort_values(by=['price_per_night','rating'], ascending=False)
  df = df[:top]
  return df.groupby('hotel_name')['rating', 'price_per_night'].mean()

print(user_prefer_recommender(df, ask_fam='yes',ask_prov='jawa timur', ask_kota='surabaya'))

                                     rating  price_per_night
hotel_name
AYANA Midplaza Jakarta                 9.44     2.078628e+06
Dewata Sky Lembong 23                  8.00     2.137500e+06
Four Seasons Hotel Jakarta             8.00     4.047661e+06
Hotel Desa Wisata                      7.40     2.648067e+06
Hotel Tugu Malang                      8.00     1.796849e+06
Imperium Hotel Bandung                 8.00     2.000000e+06
InterContinental Bandung Dago Pakar    9.52     1.646185e+06
Kristal Hotel Jakarta                  9.84     1.570524e+06
Kytos Hotel                            8.00     1.600000e+06
Meloh Cafe & Tent                      8.00     1.625000e+06
Mulberry Hill By The Lodge             8.00     2.000000e+06
Sari Pacific Jakarta                   8.56     2.638071e+06
Travello Hotel Bandung                 8.00     1.937500e+06
Vasa Hotel Surabaya                    8.00     1.597200e+06

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:27: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.